* {
    margin: 0;
    /*  border-8px */
    text-decoration: none;
    font-style: normal;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-family: 'PingFang-SC-Medium'
}

img {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}


/* flex */

.flex {
    display: flex;
    flex-wrap: wrap
}

.flex_cen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.flex_bet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.flex_aro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
}


/* .foot{
	width: 100%;
	height: .9rem;
	border-top: .01rem solid #ddd;
	position: fixed;
	bottom: 0;
	left: 0;
}
.foot img{
	width: .32rem;
	height: .32rem;
	margin:0 1rem
} */


/* //.weui */

.weui-tabbar {
    position: fixed
}

.weui-tabbar__label {
    color: #636363
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #3E3E4D
}

.weui-tabbar {
    background: #fff
}

.weui-tabbar::before {
    border-top: 2px solid #F4F4F4;
}

.weui-btn::after {
    border: none
}

.weui-btn_zf {
    background: #FFB715
}


/* //弹出框 */

.weui-icon_toast {
    margin-top: .2rem
}

.weui-icon_toast.weui-loading {
    margin-top: .3rem
}

.weui-icon-cancel,
.weui-icon-warn {
    font-size: .8rem;
    color: #fff
}

.weui-dialog .weui-dialog__btn.default,
.weui-toast .weui-dialog__btn.default {
    color: #5f646e;
}

.weui-dialog,
.weui-toast {
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
}

.weui-dialog .weui-dialog__btn+.weui-dialog__btn,
.weui-toast .weui-dialog__btn+.weui-dialog__btn {
    position: relative;
}

.weui-dialog .weui-dialog__btn+.weui-dialog__btn:after,
.weui-toast .weui-dialog__btn+.weui-dialog__btn:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.weui-dialog.weui-dialog--visible,
.weui-toast.weui-dialog--visible,
.weui-dialog.weui-toast--visible,
.weui-toast.weui-toast--visible {
    opacity: 1;
    visibility: visible;
}

.weui-toast_forbidden {
    color: #F76260;
}

.weui-toast_cancel .weui-icon-toast:before {
    content: "\EA0D";
}

.weui-toast_forbidden .weui-icon-toast:before {
    content: "\EA0B";
    color: #F76260;
}

.weui-toast_text {
    min-height: 1em;
    width: auto;
    height: 45px;
    border-radius: 25px;
    margin-left: 0;
    -webkit-transform: scale(0.9) translate3d(-50%, 0, 0);
    transform: scale(0.9) translate3d(-50%, 0, 0);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.weui-toast_text.weui-toast--visible {
    -webkit-transform: scale(1) translate3d(-50%, 0, 0);
    transform: scale(1) translate3d(-50%, 0, 0);
}

.weui-toast_text .weui-icon-toast {
    display: none;
}

.weui-toast_text .weui-toast_content {
    margin: 10px 15px;
}

.weui-mask {
    opacity: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    visibility: hidden;
}

.weui-mask.weui-mask--visible {
    opacity: 1;
    visibility: visible;
}